body,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.bg-header {
    background-color: #74C69D;
}
.container > .bg-main {
    background-color: #ffff;
}
.bg-footer {
    background-color: #74C69D;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1250px;
    margin: 0 calc((100% - 1175px)  / 2);
}
.container > .bit-logo {
    align-items: center;
}
.container > .head-logo {
    align-items: center;
}
.header-text {
    line-height: 100%;
    color: #ffff;
    font-size: 4em;
    vertical-align: middle;
}
.link {
    text-decoration: none;
    color: #ffff;
    margin-left: 20px;
}
.header-text {
    color: #ffff;
}
.button {
    padding: 1em;
    margin: auto 0;
    background-color: #fff;
    color: #000000;
    line-height: 1em;
    text-decoration: none;
    user-select: none;
    text-align: center;
    width: 150px;
}
.hero {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-basis: 400px;
    width: 400px;
    height: 299px;
    margin: 0 calc((100% - 1175px)  / 2);
}
.herotext {
    color: #fff;
    font-size: 25px;
}
.herotext2 {
    color: #fff;
}
.herotext3 {
    color: #fff;
}
.group-image {
    margin-bottom: 4em;
    width: 90%;
}
.main-text {
    text-align: center;
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.main-text > h4 {
    color: #74C69D;
}
.bottom-text > h4 {
    color: #74C69D;
}
.partners {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 100px;
    gap: 20px;
    margin: 0 calc((100% - 1175px)  / 2);
}
.main-text1 {
    font-size: 25px;
}
main > .container {
    flex-direction: column;
}
.main-button {
    padding: 1em;
    margin-top: auto 0;
    background-color: #212529;
    color: #ffffff;
    line-height: 5em;
    text-decoration: none;
    user-select: none;
    text-align: center;
    width: 200px;
    border-radius: 5px;
}
.main-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
    margin-top: 8em;
    margin: 0 calc((100% - 1175px)  / 2);
    flex-wrap: wrap;
}
.main-top > *:nth-child(3) {
    flex-basis: 50%;
}
.introduction {
    height: 425px;
}
.people-group {
    height: 380px;
    margin-left: 110px;
}
.top-text {
    width: 350px;
    text-align: center;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}
.bottom-text {
    text-align: center;
    gap: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}
.bottom-text2 {
    font-size: 25px;
}
.talents {
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1175px;
    margin: auto;
    justify-content: space-between;
    padding: 3em;
    margin: 0 calc((100% - 1175px)  / 2);
}
.talents h1,
.talents p {
    text-align: left;
}
.talents p {
    text-align: left;
    text-transform: uppercase;
    margin-top: 1em;
}
.team-img {
    width: 260px;
    text-align: center;
}
.bg-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
    width: 95rem;
    height: 7rem;
    gap: 20px;
    margin-top: 7em;
    color: #ffffff;
}
.socials {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    font-size: 20px;
}
.socials > .social-link {
    width: 1em;
    height: 1em;
    font-size: inherit;
    line-height: 1em;
    text-align: center;
    color: #f2f0f0;
    text-decoration: none;
}
.view-team {
    display: flex;
    align-items: center;
    margin-top: 2.5em;
    margin-left: 30.5em;
}
.team-button {
    padding: 1em;
    margin: auto 0;
    background-color: #212529;
    color: #ffffff;
    line-height: 1em;
    text-decoration: none;
    user-select: none;
    text-align: center;
    width: 120px;
    border-radius: 5px;
}
.copyright {
    margin-left: 470px;
}